name: Docker CI-CD

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build and Push Docker Image
      run: |
        docker build -t docker-2tier-app .
        docker tag docker-2tier-app:latest ${{ secrets.ECR_URI }}:latest
        docker push ${{ secrets.ECR_URI }}:latest

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_PEM_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Deploy to EC2
      run: |
        ssh -i /c/Users/devim/Downloads/sridevi_key.pem ec2-user@ec2-3-236-106-50.compute-1.amazonaws.com << 'EOF'
          # Pull latest image
          docker pull 625847798827.dkr.ecr.us-east-1.amazonaws.com/docker_2tier:latest
          # Stop & remove old container if exists
          docker stop app || true
          docker rm app || true
          # Run new container
          docker run -d -p 5000:5000 --name app 625847798827.dkr.ecr.us-east-1.amazonaws.com/docker_2tier:latest
        EOF

